* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
}

header {
  background: #111;
  padding: 15px;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  background: #1e90ff;
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 6px;
}

nav a:hover {
  background: #187bcd;
}

main {
  padding: 30px 15px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

h2 {
  font-size: 20px;
  margin: 20px 0 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
}

/* MOBILE */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav a {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  }

  main {
    padding: 20px 10px;
  }
}





